
*.cache
MLDWebApi/.vs/MLDWebApi/v16/.suo
MLDWebApi/.vs/MLDWebApi/DesignTimeBuild/.dtbcache.v2
ClientApp/package-lock.json
ClientApp/package.json
MLDWebApi/MLDWebApi/obj/Debug/netcoreapp3.1/MLDWebApi.pdb
MLDWebApi/MLDWebApi/obj/Debug/netcoreapp3.1/MLDWebApi.csproj.CoreCompileInputs.cache
MLDWebApi/MLDWebApi/obj/Debug/netcoreapp3.1/MLDWebApi.dll
MLDWebApi/MLDWebApi/obj/Debug/netcoreapp3.1/MLDWebApi.csproj.AssemblyReference.cache
MLDWebApi/.vs/MLDWebApi/v16/.suo
MLDWebApi/.vs/MLDWebApi/DesignTimeBuild/.dtbcache.v2
MLDWebApi/.vs/MLDWebApi/v16/.suo
MLDWebApi/MLDWebApi/bin/Debug/netcoreapp3.1/MLDWebApi.dll
MLDWebApi/MLDWebApi/bin/Debug/netcoreapp3.1/MLDWebApi.pdb
MLDWebApi/.vs/MLDWebApi/v16/.suo
MLDWebApi/MLDWebApi/bin/Debug/netcoreapp3.1/MLDWebApi.dll
MLDWebApi/MLDWebApi/bin/Debug/netcoreapp3.1/MLDWebApi.exe
MLDWebApi/MLDWebApi/bin/Debug/netcoreapp3.1/MLDWebApi.pdb
MLDWebApi/MLDWebApi/bin/Debug/netcoreapp3.1/MLDWebApi.StaticWebAssets.xml
MLDWebApi/MLDWebApi/obj/MLDWebApi.csproj.nuget.dgspec.json
MLDWebApi/MLDWebApi/obj/MLDWebApi.csproj.nuget.g.props
MLDWebApi/MLDWebApi/obj/project.assets.json
MLDWebApi/MLDWebApi/obj/project.nuget.cache
MLDWebApi/MLDWebApi/obj/Debug/netcoreapp3.1/apphost.exe
MLDWebApi/MLDWebApi/obj/Debug/netcoreapp3.1/MLDWebApi.assets.cache
MLDWebApi/MLDWebApi/obj/Debug/netcoreapp3.1/MLDWebApi.csproj.FileListAbsolute.txt
MLDWebApi/MLDWebApi/obj/Debug/netcoreapp3.1/MLDWebApi.dll
MLDWebApi/MLDWebApi/obj/Debug/netcoreapp3.1/MLDWebApi.GeneratedMSBuildEditorConfig.editorconfig
MLDWebApi/MLDWebApi/obj/Debug/netcoreapp3.1/MLDWebApi.pdb
MLDWebApi/MLDWebApi/obj/Debug/netcoreapp3.1/staticwebassets/MLDWebApi.StaticWebAssets.xml
