@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');


* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.team-name{
  margin:0 25px;
}

.team-info{
  padding-left: 50px;
  padding-top: 50px;
  display:flex;
}

.dropdown-menu{
  margin-top:27px;
}

.teams-dropdown{
  width: 50px;
}
.teams-dropdown a{
  color: #fff;
  background: #000;
  text-decoration: none;
  display: flex;
  padding: 0 1rem;
  text-align: left;
  line-height: 1.25rem;
}
.teams-dropdown a:hover{
  color: #758FCE;
}